/**
  |============================
  | include css partials with
  | default @import url()
  |============================
/*

 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 1440px;
  padding-top: 36px;
}
#formSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 8px;
  height: 40px;
  margin: auto;
  margin-bottom: 32px;
}
#inputSearch {
  width: 272px;
  font-size: 16px;
  padding-left: 16px;
  color: #808080;
  border-color: #808080;
  border-radius: 4px;
}
#inputSearch:hover {
  border-color: #000000;
}
#inputSearch::placeholder {
  color: #808080;
}
#btnSearch {
  width: 91px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 4px;
  border-color: transparent;
}

#btnSearch:hover {
  background-color: #6c8cff;
}

#loader {
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  width: 256px;
  height: 24px;
  color: #2e2f42;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.js-ImagesCart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 1128px;

  margin: auto;
  list-style: none;
  padding-left: 0px;
  margin: auto;

  gap: 24px;
}
.js-list {
  width: 360px;
  height: 200px;
  background-color: #ffffff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  border: 1px solid #808080;
  position: relative;
}
.js-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.js-dates {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  width: 360px;
  height: 48px;

  list-style: none;
  padding-left: 20px;

  position: absolute;
  bottom: -8%; /* Відступ від нижнього краю */
  left: 50%;
  transform: translateX(-50%);
}
.js-date {
  color: #2e2f42;
  font-family: 'semiBolt';
  font-size: 16px;
}
.iziToast-wrapper {
  height: 88px;
  width: 432px !important;
  top: 0;
}
/* .iziToast-wrapper-bottomRight {
 
 
} */
